.container-fluid
  hr
  h5 Event Details.
  .container
    .row
      .col-8
        .form-group
          label(for="title") TITLE
          input.form-control(type="text", name="title", placeholder="Give it a short distinct name", value=event.title)
  .container
    .row
      .col-8  
        .form-group
          label(for="location") LOCATION
          input.form-control(type="text", name="location", placeholder="Search for a vanue or address", value=event.location)
    hr
    .row
      .col
        .form-group
          label(for="start") STARTS
          .row
            .col-4
              input.form-control(type="date", name="start_date", value=event.start_date) 
            .col-4
              input.form-control(type="time", name="start_time", value=event.start_time)
    .row
      .col
        .form-group
          label(for="end") ENDS
          .row
            .col-4
              input.form-control(type="date", name="end_date", value=event.end_date)
            .col-4
              input.form-control(type="time", name="end_time", value=event.end_time)
    hr
    .form-group
      label(for="contents") DESCRIPTION
      textarea.contents.form-control(type="text", name="contents", rows="10", value=event.contents)
    hr 
    .form-group
      label(for="organization") ORGANIZATION
      input.form-control(type="text", name="organization",value=event.organization)
    .form-group
      label(for="organInfo") ORGANIZATION INFO
      textarea.organInfo.form-control(type="text", name="organInfo", rows="5", value=event.organInfo)
    hr
    h5 Tickets
    .row
      .col-4
        label(for="ticket") Price
        input.form-control(type="text", name="ticket", value=event.price)

    hr
    h5 Additional Settings
    br
    label(for='type') Event Type
    select.custom-select(name='type', value=event.type) 
      option.selected Select the type of event
      option Appearance or Singing
      option Attraction
      option Camp, Trip, or Reatreat
      option Concert or Performance
      option Conference
      option Convention
      option Dinner or Gala
      option Festival or Fair
      option Game or Competition
      option Meeting or Networking Event
      option Other
      option Party or Social Gathering
      option Race or Endurance Event
      option Rally
      option Screening
      option Seminar or Talk
      option Tour
      option Tournament
    br
    br
    label(for='topic') Event Topic
    select.custom-select(name='topic', value=event.topic)
      option.selected Select a topic
      option Auto,Boat & Air
      option Business & Professional
      option Charity & Causes
      option Community & Culture
      option Family & Education
      option Fashion & Beauty
      option Film, Media & Entertainment
      option Food & Drink
      option Government & Politics
      option Health & Wellness
      option Hobbies & Special Interest
      option Home & Lifestyle
      option Music
      option other
      option Performing & Visual Arts
      option Religion & Spirituality
      option School Activities
      option Science & Technology
      option Seaconal & Holidays
      option Sports & Fitness
      option Travel & Outdoor
    hr
script.
  $(function() { $('.contents').froalaEditor() });
  $(function() { $('.organInfo').froalaEditor() });



