extends ../layout

block content
  .container.show
    h4= event.title
    p.event-location= event.location
    hr
    if(event.price == 0)
      p Ticket Free!
    else
      p Ticket
      p= event.price
    hr
    .row
      .col
        p start date
          p.event-date= event.start.date
      .col
        p start time
        p.event-time= event.start.time
      .col
        p end date
        p.event-date= event.end.date
      .col
        p end time
        p.event-time= event.end.time
    hr
    h6 Event Type
    p=event.type
    h6 Event Type
    p=event.topic
    hr
    .row
      .col
      .col-6
        if currentUser && event.author == currentUser.id
          a.btn.btn-outline-secondary(href=`/event/${event.id}/edit`) Edit
          a.btn.btn-outline-danger.need-confirm-btn(href=`/event/${event.id}?_method=delete`) Delete

      .col
        if log &&log.id == currentUser.id
          button.btn.btn-primary.event-like-btn(data-id=event.id)
            span.for-loading #[i.fa.fa-spin.fa-refresh] Loading
            span #[i.fa.fa-thumbs-up] Register
        else
          p Already Entered!
    hr
    h5 DESCRIPTION
    != event.contents
  hr.line
  .container.organ.fr-view
    h5 Organization
    p= event.organization
    h5 Organization Infomation
    != event.organInfo
    if currentUser && event.author == currentUser.id
      hr
      h5 Participant
      each log in logs
        if log.event==event.id
          p= log.name


  script(src='/javascripts/event_client.js')